<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Create Item</h1>
    <form action="/item/create" method="POST">
        <label>Name</label>
        <br>
        <input type="text" name="name" placeholder="Item name" required>
        <br>
        <br>
        <label>Price</label>
        <br>
        <input type="number" name="price" placeholder="Item price" required>
        <br>
        <br>
        <label>Category</label>
        <br>
        <select name="category_id">
        <% categories.each do |category| %>
            <option value=<%= category.id %>><%= category.name %></option>
        <% end %>
        </select>
        <br>
        <br>
        <input type="submit" value="Create">
    </form>
    <br>
    <a href="/"><button>Back</button></a>
</body>
</html>