<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>List item from category</h2>
    <table> 
        <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
        </thead>
        <tbody>
            <% items.each do |item| %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.price %></td>
                <td><%= item.category.name %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<a href="/category"><button>Back</button></a>
</body>
</html>