<body>
    <h1>Create a new Item</h1>

    <form method="POST" action="/items/create">
        <input type="text" name="name" id="name" placeholder="Item name">
        <input type="text" name="price" id="price" placeholder="Price">
        <button type="submit"> Add Item</button>
    </form>
</body>